<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add connectionString=" Data Source=localhost\sqlexpress; Initial Catalog=JRassociatedb;Integrated Security=True" name="JRassociatedb" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <trust level="Full" />
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: A86B418A-39FA-44B2-AF5F-0B9F227F1A5D-->